<header>
  <nav class="container-fluid mainHeader">
    <img class="fluff" src="/images/logo-brand-3d.png" alt="">
    <ul>
      <li>
        <a class="linkTo" href="/">Home</a>
      </li>
      <li>
        <a class="linkTo" href="/realTimeProducts">Real Time Products</a>
      </li>
    </ul>
  </nav>
</header>
<main>
  <div class="container tableContain">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Code</th>
            <th>Price</th>
            <th>Status</th>
            <th>Stock</th>
            <th>Category</th>
            <th>image</th>
          </tr>
        </thead>
        <tbody>
          <ul>
            {{real.0.title}}
          </ul>
        </tbody>
</main>

  


  