header {
    background-color: #f4f4f4;
}

.mainHeader {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.fluff {
    height: 60px;
}
.mainHeader ul, a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none; 
    color: black; 
}
.linkTo {
    padding: 8px;
}
.tableContain {
    border: 1px solid black;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    
    margin: 10px 0px 10px 0px;
}
th, td {
    border: 1px solid chartreuse;
    padding: 5px;
    text-align: center;
}
th {
    font-size: 20px;
}
td {
    font-size: 14px;
}
.chat-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.message {
    width: 30%;
    height: 50px;
    border: #5f9ea0 solid 2px; 
    border-radius: 8px; 
    text-align: center; 
    margin: 5px;
}
.chatResult {
    background-color: #3c7779;
    border: #817f7f solid 2px; 
    border-radius: 8px;
    margin: 5px;
}
.msg {
    width: 70%;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px;
    background-color: wheat;
    margin-top: 5px;
}
.pages {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 10px;
}